VITE_FB_API_KEY=AIzaSyDBPAF8LeDCfywbFiWSMHeu01inc_uxSk0
VITE_FB_AUTH_DOMAIN=ledger-d57da.firebaseapp.com
VITE_FB_PROJECT_ID=ledger-d57da
VITE_FB_STORAGE_BUCKET=ledger-d57da.firebasestorage.app
VITE_FB_APP_ID=1:713000868232:web:b979ddfaa854ea80d5023d
